


#hide{
    visibility: hidden;
    display: none;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

spline-viewer {
  width: 60%;
  aspect-ratio: 1/1;

}